<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <title>Tools Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="/Content/style.css" rel="stylesheet"/>
    <script type="text/javascript" src="/Scripts/boxOver.js"></script>
</head>
<body> 
    <div id="main_container">
        <div id="header">
            <div class="top_right">
                <div class="languages">
                    <div class="lang_text">Languages:</div>
                    <a href="http://all-free-download.com/free-website-templates/" class="lang"><img src="/images/en.gif" alt="" border="0" /></a> <a href="http://all-free-download.com/free-website-templates/" class="lang"><img src="/images/de.gif" alt="" border="0" /></a>
                </div>
                <div class="big_banner"><a href="http://all-free-download.com/free-website-templates/"><img src="/images/bookstore-banner.jpg" width="980" height="150" alt="" border="0" /></a> </div>
            </div>
        </div>
        <div id="main_content">
            <div id="menu_tab">
                <ul class="menu">
                    <li><a href="http://all-free-download.com/free-website-templates/" class="nav"> Home </a></li>
                    <li class="divider"></li>
                    <li><a href="http://all-free-download.com/free-website-templates/" class="nav">Products</a></li>
                    <li class="divider"></li>
                    <li><a href="http://all-free-download.com/free-website-templates/" class="nav">Specials</a></li>
                    <li class="divider"></li>
                    <li><a href="http://all-free-download.com/free-website-templates/" class="nav">My account</a></li>
                    <li class="divider"></li>
                    <li><a href="http://all-free-download.com/free-website-templates/" class="nav">Sign Up</a></li>
                    <li class="divider"></li>
                    <li><a href="http://all-free-download.com/free-website-templates/" class="nav">Shipping </a></li>
                    <li class="divider"></li>
                    <li><a href="contact.html" class="nav">Contact Us</a></li>
                    <li class="divider"></li>
                    <li><a href="details.html" class="nav">Details</a></li>
                </ul>
            </div>
      </div>
            <!-- end of menu tab -->
            <div class="crumb_navigation"> Navigation: <span class="current">Home</span> </div>
            <div class="left_content">
                <div class="title_box">Categories</div>
                <ul class="left_menu">
                    <li class="odd"><a href="http://all-free-download.com/free-website-templates/">Power Tools</a></li>
                    <li class="even"><a href="http://all-free-download.com/free-website-templates/">Air Tools</a></li>
                    <li class="odd"><a href="http://all-free-download.com/free-website-templates/">Hand Tools</a></li>
                    <li class="even"><a href="http://all-free-download.com/free-website-templates/">Accessories</a></li>
                    <li class="odd"><a href="http://all-free-download.com/free-website-templates/">Workwear</a></li>
                    <li class="even"><a href="http://all-free-download.com/free-website-templates/">Spare Parts</a></li>
                    <li class="odd"><a href="http://all-free-download.com/free-website-templates/">Power Tools</a></li>
                    <li class="even"><a href="http://all-free-download.com/free-website-templates/">Air Tools</a></li>
                    <li class="odd"><a href="http://all-free-download.com/free-website-templates/">Hand Tools</a></li>
                    <li class="even"><a href="http://all-free-download.com/free-website-templates/">Accessories</a></li>
                    <li class="odd"><a href="http://all-free-download.com/free-website-templates/">Workwear</a></li>
                    <li class="even"><a href="http://all-free-download.com/free-website-templates/">Spare Parts</a></li>
                </ul>
                <div class="title_box">Special Products</div>      
                <div class="border_box">
                    <div class="product_title"><a href="http://all-free-download.com/free-website-templates/">Harry Porter và chiếc cốc lửa - Tập 4</a></div>
                    <div class="product_img"><a href="http://all-free-download.com/free-website-templates/"><img src="/images/273496_p77352mnxbtrefull20342017033410.jpg" alt="" border="0" /></a></div>  
                    <p>J. K. Rowling</p>    
                    <div class="prod_price"><span class="reduce">270.000 ₫</span> <span class="price">216.000 ₫</span></div>
                </div>
                <div class="title_box">Newsletter</div>
                <div class="border_box">
                    <input type="text" name="newsletter" class="newsletter_input" value="your email" />
                    <a href="http://all-free-download.com/free-website-templates/" class="join">subscribe</a>
                </div>
                <div class="banner_adds"> <a href="http://all-free-download.com/free-website-templates/"><img src="" alt="" border="0" /></a> </div>
            </div>
            <!-- end of left content -->
        <div class="center_content">
            <div class="oferta">
                <img src="/images/p1.png" width="165" height="113" border="0" class="oferta_img" alt="" />
                <div class="oferta_details">
                    <div class="oferta_title">Power Tools BST18XN Cordless</div>
                    <div class="oferta_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </div>
                    <a href="http://all-free-download.com/free-website-templates/" class="prod_buy">details</a>
                </div>
            </div>
            <div class="center_title_bar">Latest Products</div>
            <div class="prod_box">
                <div class="center_prod_box">
                    <div class="product_title"><a href="http://all-free-download.com/free-website-templates/">Harry Porter và chiếc cốc lửa - Tập 4</a></div>
                    <div class="product_img"><a href="http://all-free-download.com/free-website-templates/"><img src="/images/273496_p77352mnxbtrefull20342017033410.jpg" alt="" border="0" /></a></div>
                    <p>J. K. Rowling</p>
                    <div class="prod_price"><span class="reduce">270000đ</span> <span class="price">216000đ</span></div>
                </div>
                <div class="prod_details_tab"> <a href="http://all-free-download.com/free-website-templates/" class="prod_buy">Add to Cart</a> <a href="http://all-free-download.com/free-website-templates/" class="prod_details">Details</a></div>
            </div>
            <div class="prod_box">
                <div class="center_prod_box">
                    <div class="product_title"><a href="http://all-free-download.com/free-website-templates/">Harry Potter Và Bảo Bối Tử Thần - Tập 7 </a></div>
                    <div class="product_img"><a href="http://all-free-download.com/free-website-templates/"><img src="/images/271088_p77020mimg182.jpg" alt="" border="0" /></a></div>
                    <p>J. K. Rowling</p>
                    <div class="prod_price"><span class="reduce">245.000 ₫</span> <span class="price">196.000 ₫</span></div>
                </div>
                <div class="prod_details_tab"> <a href="http://all-free-download.com/free-website-templates/" class="prod_buy">Add to Cart</a> <a href="http://all-free-download.com/free-website-templates/" class="prod_details">Details</a> </div>
            </div>
            <div class="prod_box">
                <div class="center_prod_box">
                    <div class="product_title"><a href="http://all-free-download.com/free-website-templates/">Harry Potter Và Hoàng Tử Lai - Tập 6</a></div>
                    <div class="product_img"><a href="http://all-free-download.com/free-website-templates/"><img src="/images/271079_p77019mimg188.jpg" alt="" border="0" /></a></div>
                    <p>J. K. Rowling</p>
                    <div class="prod_price"><span class="reduce">215.000 ₫</span> <span class="price">172.000 ₫</span></div>
                </div>
                <div class="prod_details_tab"> <a href="http://all-free-download.com/free-website-templates/" class="prod_buy">Add to Cart</a> <a href="http://all-free-download.com/free-website-templates/" class="prod_details">Details</a> </div>
            </div>
            <div class="prod_box">
                <div class="center_prod_box">
                    <div class="product_title"><a href="http://all-free-download.com/free-website-templates/">Harry Potter Và Hội Phượng Hoàng - Tập 5</a></div>
                    <div class="product_img"><a href="http://all-free-download.com/free-website-templates/"><img src="/images/271097_p77018mimg194.jpg" alt="" border="0" /></a></div>
                    <p>J. K. Rowling</p>
                    <div class="prod_price"><span class="reduce">355.000 ₫</span><span class="price">284.000 ₫</span></div>
                </div>
                <div class="prod_details_tab"> <a href="http://all-free-download.com/free-website-templates/" class="prod_buy">Add to Cart</a> <a href="http://all-free-download.com/free-website-templates/" class="prod_details">Details</a> </div>
            </div>
            <div class="prod_box">
                <div class="center_prod_box">
                    <div class="product_title"><a href="http://all-free-download.com/free-website-templates/">Harry Potter Và Phòng Chứa Bí Mật - Tập 2 </a></div>
                    <div class="product_img"><a href="http://all-free-download.com/free-website-templates/"><img src="/images/247433_p73663mharrypottervaphong.jpg" alt="" border="0" /></a></div>
                    <p>J. K. Rowling</p>
                    <div class="prod_price"><span class="reduce">150.000 ₫</span> <span class="price">120.000 ₫</span></div>
                </div>
                <div class="prod_details_tab"> <a href="http://all-free-download.com/free-website-templates/" class="prod_buy">Add to Cart</a> <a href="http://all-free-download.com/free-website-templates/" class="prod_details">Details</a> </div>
            </div>
            <div class="prod_box">
                <div class="center_prod_box">
                    <div class="product_title"><a href="http://all-free-download.com/free-website-templates/">Harry Potter Và Tên Tù Nhân Ngục Azkaban </a></div>
                    <div class="product_img"><a href="http://all-free-download.com/free-website-templates/"><img src="/images/264985_p76309m010.jpg" alt="" border="0" /></a></div>
                    <p>J. K. Rowling</p>
                    <div class="prod_price"><span class="reduce">180.000 ₫</span> <span class="price">144.000 ₫</span></div>
                </div>
                <div class="prod_details_tab"> <a href="http://all-free-download.com/free-website-templates/" class="prod_buy">Add to Cart</a> <a href="http://all-free-download.com/free-website-templates/" class="prod_details">Details</a> </div>
            </div>
            <div class="center_title_bar">Recomended Products</div>
            <div class="prod_box">
                <div class="center_prod_box">
                    <div class="product_title"><a href="http://all-free-download.com/free-website-templates/">Doraemon Plus - Tập 6</a></div>
                    <div class="product_img"><a href="http://all-free-download.com/free-website-templates/"><img src="/images/200962_p66938m6.jpg" alt="" border="0" /></a></div>
                    <p>Fujiko.F.Fujio</p>
                    <div class="prod_price"><span class="price">19.500 ₫</span></div>
                </div>
                <div class="prod_details_tab"> <a href="http://all-free-download.com/free-website-templates/" class="prod_buy">Add to Cart</a> <a href="http://all-free-download.com/free-website-templates/" class="prod_details">Details</a> </div>
            </div>
            <div class="prod_box">
                <div class="center_prod_box">
                    <div class="product_title"><a href="http://all-free-download.com/free-website-templates/">Doraemon Plus - Tập 1</a></div>
                    <div class="product_img"><a href="http://all-free-download.com/free-website-templates/"><img src="/images/200919_p66933m1.jpg" alt="" border="0" /></a></div>
                    <p>Fujiko.F.Fujio</p>
                    <div class="prod_price"><span class="price">19.500 ₫</span></div>
                </div>
                <div class="prod_details_tab"> <a href="http://all-free-download.com/free-website-templates/" class="prod_buy">Add to Cart</a> <a href="http://all-free-download.com/free-website-templates/" class="prod_details">Details</a> </div>
            </div>
            <div class="prod_box">
                <div class="center_prod_box">
                    <div class="product_title"><a href="http://all-free-download.com/free-website-templates/">Doraemon Plus - Tập 2</a></div>
                    <div class="product_img"><a href="http://all-free-download.com/free-website-templates/"><img src="/images/200949_p66934m2.jpg" alt="" border="0" /></a></div>
                    <p>Fujiko.F.Fujio</p>
                    <div class="prod_price"><span class="price">19.500 ₫</span></div>
                </div>
                <div class="prod_details_tab"> <a href="http://all-free-download.com/free-website-templates/" class="prod_buy">Add to Cart</a> <a href="http://all-free-download.com/free-website-templates/" class="prod_details">Details</a> </div>
            </div>
        </div>
            <!-- end of center content -->
            <div class="right_content">
                <div class="title_box">Search</div>
                <div class="border_box">
                    <input type="text" name="newsletter" class="newsletter_input" value="keyword" />
                    <a href="http://all-free-download.com/free-website-templates/" class="join">search</a>
                </div>
                <div class="shopping_cart">
                    <div class="title_box">Shopping cart</div>
                    <div class="cart_details">
                        3 items <br />
                        <span class="border_cart"></span> Total: <span class="price">350$</span>
                    </div>
                    <div class="cart_icon"><a href="http://all-free-download.com/free-website-templates/"><img src="/images/shoppingcart.png" alt="" width="35" height="35" border="0" /></a></div>
                </div>
                <div class="title_box">What’s new</div>
                <div class="border_box">
                    <div class="product_title"><a href="http://all-free-download.com/free-website-templates/">Motorola 156 MX-VL</a></div>
                    <div class="product_img"><a href="http://all-free-download.com/free-website-templates/"><img src="/images/p2.jpg" alt="" border="0" /></a></div>
                    <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
                </div>
                <div class="title_box">Manufacturers</div>
                <ul class="left_menu">
                    <li class="odd"><a href="http://all-free-download.com/free-website-templates/">Bosch</a></li>
                    <li class="even"><a href="http://all-free-download.com/free-website-templates/">Samsung</a></li>
                    <li class="odd"><a href="http://all-free-download.com/free-website-templates/">Makita</a></li>
                    <li class="even"><a href="http://all-free-download.com/free-website-templates/">LG</a></li>
                    <li class="odd"><a href="http://all-free-download.com/free-website-templates/">Fujitsu Siemens</a></li>
                    <li class="even"><a href="http://all-free-download.com/free-website-templates/">Motorola</a></li>
                    <li class="odd"><a href="http://all-free-download.com/free-website-templates/">Phillips</a></li>
                    <li class="even"><a href="http://all-free-download.com/free-website-templates/">Beko</a></li>
                </ul>
                <div class="banner_adds"> <a href="http://all-free-download.com/free-website-templates/"><img src="/images/bann1.jpg" alt="" border="0" /></a> </div>
            </div>
            <!-- end of right 
        <!-- end of main content -->
        <div class="footer">
            <div class="left_footer"> <img src="/images/images.jpg" alt="" width="89" height="42" /> </div>
            <div class="center_footer">
                Template name. All Rights Reserved 2008<br />
                <a href="http://csscreme.com"><img src="/images/csscreme.jpg" alt="csscreme" title="csscreme" border="0" /></a><br />
                <img src="images/payment.gif" alt="" />
            </div>
            <div class="right_footer"> <a href="http://all-free-download.com/free-website-templates/">home</a> <a href="http://all-free-download.com/free-website-templates/">about</a> <a href="http://all-free-download.com/free-website-templates/">sitemap</a> <a href="http://all-free-download.com/free-website-templates/">rss</a> <a href="http://all-free-download.com/free-website-templates/">contact us</a> </div>
        </div>
    </div>
    <!-- end of main_container -->
    <div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div>
    <div>
    </div>

<!-- Visual Studio Browser Link -->
<script type="application/json" id="__browserLink_initializationData">
    {"appName":"Chrome","requestId":"e672878a58184f98895a4a79564fd914"}
</script>
<script type="text/javascript" src="http://localhost:2960/a4f18de739254f20bf53e877788410f5/browserLink" async="async"></script>
<!-- End Browser Link -->

</body>
</html>
